<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <ion-img [src]="book.image"></ion-img>
      <h2><strong>{{ book.title }}</strong></h2>
      <p><strong>Author: </strong> {{ book.author }}</p>

      <p>
        <strong>Read:</strong>
        {{ book.readDate | date:'dd/MM/yyyy' }}
      </p>

      <p>
        <strong>Review</strong><br />
        {{ book.review }}
      </p>

    </ion-card-content>
  </ion-card>
</ion-content>
