<ion-header>
  <ion-toolbar>
    <ion-title>New Movie</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="auth-form" [formGroup]= "form">

    <div class="gradient-input">
      <ion-label>Title</ion-label>
      <div class="input">
        <ion-input formControlName="title" type="text" placeholder="Title">
        </ion-input>
      </div>
    </div>

    <div class="gradient-input">
      <ion-label>Protagonist</ion-label>
      <div class="input">
        <ion-input formControlName="protagonist" type="text" placeholder="Protagonist">
        </ion-input>
      </div>
    </div>

    <div class="gradient-input">
      <ion-row>
        <ion-col size="6" class="col-center">
          <ion-label>Viewing date</ion-label>
          <ion-datetime-button datetime="viewDate" class="action-button"></ion-datetime-button>
        </ion-col>

        <ion-col size="6" class="col-center">
          <ion-label>Publication year</ion-label>
          <ion-datetime-button datetime="publicationYear" class="action-button"></ion-datetime-button>
        </ion-col>
      </ion-row>

      <ion-modal #viewDateModal keepContentsMounted="true">
        <ng-template>
          <ion-datetime
            id="viewDate"
            presentation="date"
            
            (ionChange)="onViewDateSelected($event)">
          </ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-modal #publicationYearModal keepContentsMounted="true">
        <ng-template>
          <ion-datetime
            id="publicationYear"
            presentation="date"
            
            (ionChange)="onPublicationYearSelected($event)">
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </div>

    <div class="gradient-input">
      <ion-label>Review</ion-label>
      <div class="input input-textarea">
        <ion-textarea
          formControlName="review"
          placeholder="Review"
          rows="4"
          autoGrow="true">
        </ion-textarea>
      </div>
    </div>

    <div>
      
      <ion-button class="action-button">
        Add image
      </ion-button>
    </div>




    

  </form>
</ion-content>