<ion-header>
  <ion-toolbar>
    <ion-title>New Book</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="auth-form" [formGroup]= "form">

      <div class="gradient-input">
        
        <div class="input">
          <ion-input formControlName="title" type="text" placeholder="Title">
          </ion-input>
        </div>
      </div>  

      <div class="gradient-input">
        
        <div class="input">
          <ion-input formControlName="author" type="text" placeholder="Author">
          </ion-input>
        </div>
      </div>  

      <div class="gradient-input">
        <ion-label>Reading date</ion-label>
        <ion-button (click)="toggleDatePicker()" class="action-button">
          {{ formatDate(form.get('readDate')?.value) }}
        </ion-button>
        
        @if (showDatePicker) {
          <ion-datetime
            presentation="date"
            [value]="form.get('readDate')?.value"
            (ionChange)="onDateChange($event)"
            [showDefaultButtons]="false">
          </ion-datetime>
          
          <!-- Botones personalizados -->
          <div class="datetime-buttons">
            <ion-button fill="clear" (click)="cancelDatePicker()">Cancel</ion-button>
            <ion-button fill="clear" (click)="confirmDatePicker()">Done</ion-button>
          </div>
        }
      </div>

      <div class="gradient-input">
        
        <div class="input input-textarea">
          <ion-textarea
            formControlName="review"
            placeholder="Review"
            rows="4"
            autoGrow="true">
          </ion-textarea>
        </div>
      </div>

      <ion-row>
        <ion-col size="6" class="col-center">
          <ion-button class="action-button">
            Add image
          </ion-button>
        </ion-col>
        <ion-col size="6" class="col-center">
          <ion-button type="button" (click)="saveBook()" class="action-button">
            Save Book
          </ion-button>
        </ion-col>
      </ion-row>
      
  </form>
  
</ion-content>

