<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <ion-img [src]="movie.image"></ion-img>
      <h2><strong>{{ movie.title }}</strong></h2>
      <p><strong>Protagonist: </strong> {{ movie.protagonist }}</p>

      <p>
        <strong>Seen:</strong>
        {{ movie.viewDate| date:'dd/MM/yyyy' }}
      </p>

      <p>
        <strong>Review:</strong><br />
        {{ movie.review }}
      </p>

    </ion-card-content>
  </ion-card>
</ion-content>
