ion-item {
  --padding-start: 0;
}

.date {
    font-size: 0.65rem;
}

ion-card-header {
  padding-bottom: 0px;
}

ion-card-content {
  padding-top: 0;
}

ion-card-content ion-button {
  margin-top: 0;
}